@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background-color: #F8F7F3;
    color: #343434;
  }
}
